[% WRAPPER 'include/layout.tt' %]

<section>

[% IF data %]
    こんにちは [% name %] さん
    <section>
    <div class="sample">
        <a href="/register_friend">あなたの尊敬する友達の名前を登録して下さい</a>
    </div>
    </section>
[% ELSE %]
    エラーが発生しました。
[% END %]

</section>

[% END %]
